.footer small {
   display: block;
   padding: 5px 0;
   text-align: center;
}

.map {
	height: 400px;
	width: 100%;
}

.post-content img {
	max-width: 100%;
	height: auto;
}

.footer p {
	text-align: center;
}