.ui-header .ui-title {
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

.footer small {
   display: block;
   padding: 5px 0;
   text-align: center;
}

.map {
	height: 400px;
	width: 100%;
}

.post-content img {
	max-width: 100%;
	height: auto;
}

.footer { text-align: center; }
.footer img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts,
.map-content {
	min-height: 125px;
}

.loading {
	position: absolute;
	background: transparent url(images/ajax-loader.gif) no-repeat center top;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
	padding-top: 60px;
	margin: 15px 0;
}